@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
    color: rgb(8, 96, 168);
}

body {
    background-color: #70d7e740;
}


.glow {
    transition: all 0.2s ease-in-out;
  }

.glow:hover {
    box-shadow: 0px 0px 15px rgb(79 133 197 / 52%);
}


@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

canvas {
  transition: 2s;
}

.btn10{
    top: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0.5rem 2rem;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: rgb(7, 7, 7);
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid rgb(2, 2, 2);
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
}


.btn10:hover{
    border: 1px solid #142f6b;
    color: #d9fbff!important;
}
.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #142f6b;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #d9fbff;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
  opacity:1;
  width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
  opacity:1;
  width: 120%;
}

.canvas {
    width: 100%;
    height: 100%;
  }

  
.rou {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.rou::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 50px;
  border-radius: 32px 32px 0 0;
  border-top: 70px solid crimson;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 0;
  z-index: 1;
  top: -20px;
  left: calc(50% - 16px);
  z-index: 22;
}

.hashtags, .card-title-text, .location {
    width: 100%;
    min-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden;
  }

  .btn-none {
    border: 0;
    padding: 0;
    background-color: white;
  }
