{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <style>
    .hashtags, .card-title-text {
      width: 100%;
      min-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;  
      overflow: hidden;
    }
  </style>
{% endblock css %}

{% block content %}
  <h1 class="text-center my-5">
    <span class="text-primary">{{ user.nickname }}</span>님의 페이지</h1>

  <!-- 프로필 이미지, 닉네임, 유저네임, 소개글 -->
  <div class="container d-grid p-3 rounded-4 border border-1 mb-5" style="background-color: white;">
    <div class="row row-cols-2 align-items-center">
      <div class="col-3">
        {% if user.profile.image %}
          <img src="{{ user.profile.image.url }}" alt="" class="rounded-4 border border-1 w-100">
        {% else %}
          <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-4 border border-1 w-100">
        {% endif %}
      </div>

      <div class="col-9 p-3" style="height: 100%">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h3 class="m-0 me-3">{{ user.nickname }}</h3>
          </div>

          <div>
            <!-- 로그인 유저 == 회원 정보 페이지의 유저 -->
            {% if request.user == user %}
              <a href="{% url 'accounts:update' user.pk %}" class="btn btn-primary">회원 정보 수정</a>
            <!-- 로그인 유저 -->
            {% elif request.user.is_authenticated %}
              <form id="follow-form" data-user-id="{{ user.pk }}">
                {% csrf_token %}
              
                <!-- 로그인 한 유저가 이미 팔로잉 중일 때 -->
                {% if request.user in user.followers.all %}
                  <input class='btn btn-secondary' type="submit" value="언팔로우">
                {% else %}
                  <input class='btn btn-primary' type="submit" value="팔로우">
                {% endif %}
              </form>
            {% endif %}
          </div>
        </div>
        <hr>

        <div class="d-flex justify-content-between mb-4">
          <div>
            <a id="link_user_articles" data-bs-toggle="collapse" href="#user_articles" role="button" aria-expanded="false" aria-controls="collapseExample" class="me-3">내 게시글</a>
            <a id="link_like_articles" data-bs-toggle="collapse" href="#like_articles" role="button" aria-expanded="false" aria-controls="collapseExample">좋아요</a>
          </div>
          
          <p class="text-muted m-0">
            <span class="me-3">팔로잉 <span id="followings-count">{{ user.followings.all|length }}</span>명</span>
            <span>팔로워 <span id="followers-count">{{ user.followers.all|length }}</span>명</span>        
          </p>
        </div>

        <div>
          <p class="m-0">{{ user.profile.intro }}</p>
        </div>
      </div>
    </div>
  </div>


  <!-- 글 목록 -->
  <div>
    <!-- 작성한 글 -->
    <div class="collapse" id="user_articles">
      <div class="row">
        {% for article in articles %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 p-3">
            <a href="{% url 'articles:detail' article.pk %}">
              <div class="card">
                <!-- 첫 번째 이미지를 썸네일로 -->
                {% if article.photo_set.all.0.image %}
                  <img src="{{ article.photo_set.all.0.image.url }}" class="card-img-top" alt="..." height="240px">
                {% else %}
                  <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" height="240px">
                {% endif %}
    
                <div class="card-body d-flex flex-column justify-content-between" style="height: 12rem">
                  <!-- 유저 -->
                  <div class="mb-2">
                    <a href="{% url 'accounts:detail' article.user.pk %}" class="text-dark">
                      {% if article.user.profile.image %}
                        <img src="{{ article.user.profile.image.url }}" alt="{{ article.user.profile.image }}" class="rounded-2 border border-1" width="40px">
                      {% else %}
                        <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
                      {% endif %}
                      <span class="ms-2">{{ article.user.nickname }}</span>
                    </a>
                  </div>
    
                  <a href="{% url 'articles:detail' article.pk %}" class="text-dark">
                    <h4 class="card-title mb-3">{{ article.title }}</h4>
                  </a>
    
                  <div class="hashtags col-lg-8 col-md-10 mb-2">
                    {% for tag in article.tags.all %}
                      <a href="/search/?search_option=hashtag&amp;search={{ tag.name }}" class="text-decoration-none fs-5">#{{ tag.name }}</a>
                    {% endfor %}
                  </div>
    
                  <!-- 좋아요, 댓글, 조회수 -->
                  <div class="text-muted fs-5">
                    <span class="bi bi-heart me-3">
                      <span class="">{{ article.like_users.count }}</span>
                    </span>
                    <span class="bi bi-chat-dots-fill me-3"> 
                      <span class="">{{ article.comment_set.all.count }}</span>
                    </span>
                    <span class="bi bi-eye-fill"> 
                      <span class="">{{ article.view_count }}</span>
                      <span class=""></span>

                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- 좋아요한 글 -->
    <div class="collapse" id="like_articles">
      <div class="row">
        {% for article in like_articles %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 p-3">
            <a href="{% url 'articles:detail' article.pk %}">
              <div class="card">
                <!-- 첫 번째 이미지를 썸네일로 -->
                {% if article.photo_set.all.0.image %}
                  <img src="{{ article.photo_set.all.0.image.url }}" class="card-img-top" alt="..." height="240px">
                {% else %}
                  <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" height="240px">
                {% endif %}
    
                <div class="card-body d-flex flex-column justify-content-between" style="height: 12rem">
                  <!-- 유저 -->
                  <div class="mb-2">
                    <a href="{% url 'accounts:detail' article.user.pk %}" class="text-dark">
                      {% if article.user.profile.image %}
                        <img src="{{ article.user.profile.image.url }}" alt="{{ article.user.profile.image }}" class="rounded-2 border border-1" width="40px">
                      {% else %}
                        <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
                      {% endif %}
                      <span class="ms-2">{{ article.user.nickname }}</span>
                    </a>
                  </div>
    
                  <a href="{% url 'articles:detail' article.pk %}" class="text-dark">
                    <h4 class="card-title mb-3">{{ article.title }}</h4>
                  </a>
    
                  <div class="hashtags col-lg-8 col-md-10 mb-2">
                    {% for tag in article.tags.all %}
                      <a href="/search/?search_option=hashtag&amp;search={{ tag.name }}" class="text-decoration-none fs-5">#{{ tag.name }}</a>
                    {% endfor %}
                  </div>
    
                  <!-- 좋아요, 댓글, 조회수 -->
                  <div class="text-muted fs-5">
                    <span class="bi bi-heart me-3">
                      <span class="">{{ article.like_users.count }}</span>
                    </span>
                    <span class="bi bi-chat-dots-fill me-3"> 
                      <span class="">{{ article.comment_set.all.count }}</span>
                    </span>
                    <span class="bi bi-eye-fill"> 
                      <span class="">{{ article.view_count }}</span>
                      <span class=""></span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    const form = document.querySelector("#follow-form")

    if (form) {
      const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event.target.dataset.userId

        axios({
          method: "post",
          url: `/accounts/${userId}/follow/`,
          headers: {
            'X-CSRFToken': csrf_token
          }
        })
        .then((response) => {
          const followersCount = response.data.followers_count
          const followingsCount = response.data.followings_count
          const isFollowed = response.data.is_followed
          const followBtn = document.querySelector('#follow-form > input[type=submit]')
          if (isFollowed === true) {
            followBtn.value = '언팔로우'
            followBtn.classList.add('btn-secondary')
            followBtn.classList.remove('btn-primary')
          } else {
            followBtn.value = '팔로우'
            followBtn.classList.add('btn-primary')
            followBtn.classList.remove('btn-secondary')
          }

          const followersCountTag = document.querySelector('#followers-count')
          const followingsCountTag = document.querySelector('#followings-count')
          followersCountTag.innerText = followersCount
          followingsCountTag.innerText = followingsCount
        })
      })
    }

    const link_user_articles = document.querySelector('#link_user_articles')
    const link_like_articles = document.querySelector('#link_like_articles')
    const user_articles = document.querySelector('#user_articles')
    const like_articles = document.querySelector('#like_articles')

    const bsCollapse = new bootstrap.Collapse('#like_articles', {
      toggle: false
    })
    const bsCollapse2 = new bootstrap.Collapse('#user_articles', {
      toggle: false
    })
    
    user_articles.addEventListener('show.bs.collapse', event => {
      bsCollapse.hide()
    })
    like_articles.addEventListener('show.bs.collapse', event => {
      bsCollapse2.hide()
    })
  </script>
{% endblock script %}