{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="list-group">
    <a href="{% url 'accounts:detail' request.user.pk %}" class="list-group-item list-group-item-action">
      <div class="d-flex align-items-center">
        {% if user.profile.image %}
          <img src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}" class="rounded-2 border border-1" width="48px">
        {% else %}
          <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="48px">
        {% endif %}

        <span class="ms-3">{{ user.nickname }}</span>
      </div>
    </a>
    <a href="{% url 'accounts:password' %}" class="list-group-item list-group-item-action">비밀번호 변경</a>
    <a href="{% url 'accounts:logout' %}" class="list-group-item list-group-item-action">로그아웃</a>
    <a href="{% url 'accounts:delete' %}" class="list-group-item list-group-item-action">회원탈퇴</a>
  </div>
{% endblock content %}