{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% load static %}


{% block content %}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <div class="p-3 mb-4" style="border-radius: 0.5rem; box-shadow: 0px 0 10px 1px rgb(169 169 169 / 50%);">
      <!-- carousel 사진 영역 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {% for photo in article.photo_set.all %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|sub:1|mod:photo_cnt }}" class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter|mod:photo_cnt }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for photo in article.photo_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
              <img src="{{ photo.image.url }}" class="d-block w-100" alt="{{ photo.image }}">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- 제목 본문 태그 -->
      <div>
        <h1 class="mt-3">{{ article.title }}</h1>
        <div class="d-flex justify-content-between">
          <span style="font-size: 25px;"><a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></span>
          <p style="font-size: 13px;">작성 {{ article.created_at|date:'Y-m-d H:i' }} | 수정{{ article.updated_at|date:'Y-m-d H:i' }}</p>
        </div>
        <p class="mt-3">{{ article.content }} </p>
        <div>
          {% for tag in article.tags.all %}
          <a href="#"><span>#{{ tag.name }}</span></a>
          {% endfor %}
        </div>
        <!-- 좋아요 댓글 북마크-->
        <div class="d-flex justify-content-between">
          <div style="font-size: 20px;">
            <span>
              {% if request.user.is_authenticated %}
                <a href="{% url 'articles:like' article.pk %}">
                {% if request.user in article.like_users.all %}
                  <i class="bi-heart-fill bi"></i>
                {% else %}
                  <i class="bi-heart bi"></i>
                {% endif %}</a>{{ article.like_users.count }}</span>
              {% else %}
              <a href="{% url 'accounts:login' %}"><i class="bi bi-heart"><span id="like-count"> {{ comment.like_users.count }}</span></i></a>
              {% endif %}
            </span>
            <span class="mx-3"><i class="bi bi-chat"></i> {{ article.comment_set.all.count }}</span>
          </div>
          <div style="font-size: 20px;">
            <span style="font-size: 20px;">
              {% if request.user.is_authenticated %}
                <a href="{% url 'articles:bookmark' article.pk %}">
                {% if request.user in article.bookmark_users.all %}
                  <i class="bi bi-bookmark-fill"></i>
                {% else %}
                  <i class="bi bi-bookmark"></i>
                {% endif %}
                </a>
              {% else %}
              <a href="{% url 'accounts:login' %}"><i class="bi bi-bookmark"></i></a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <h5 class="my-3">댓글 ({{ comments|length }})</h5>
        {% if request.user.is_authenticated %}
        <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form comment_form %}
          <div class="d-flex justify-content-end">
            <input class="btn btn-sm btn-outline-primary" type="submit" value="등록">
          </div>
        </form>
        {% else %}
        <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
        {% endif %}
      </div>
      {% for comment in comments %}
      <div class="mt-3 d-flex justify-content-between">
        <div>
          <p style="font-size: 0.8rem; margin-bottom: 0rem;">
            <a href="{% url 'accounts:detail' article.user.pk %}">{{ comment.user.username }}</a> | {{ comment.created_at|date:'Y-m-d H:i' }}
          </p>
          <p style="margin-bottom: 0rem;">{{ comment.content }}</p>
          <div class="d-flex mb-0" style="font-size: 0.7rem;">
            <a href="{% url 'articles:comment_create' article.pk %}">답글 달기</a>
            <p class="mx-3 mb-0">좋아요 {{ comment.like_users.count }}개</p>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
        {% if request.user.is_authenticated %}
          <a class="like-heart mt-2 mx-2" href="{% url 'articles:comment_like' article.pk comment.pk %}">
          {% if request.user in comment.like_users.all %}
            <i class="bi bi-heart-fill"></i>
          {% else %}
            <i class="bi bi-heart"></i>
          {% endif %}
          </a>
        {% else %}
          <a href="{% url 'accounts:login' %}" class="mx-2">
            <i class="bi bi-heart"></i>
          </a>
        {% endif %}
        {% if user == comment.user %}
        <!-- 댓글 수정 버튼 -->
          <!-- <form action="{% url 'articles:comment_update' article.pk comment.pk %}" method="POST" enctype="multipart/form-data">
            <button class="btn btn-none border-0 p-0 me-2">
              <img src="{% static 'image/edit.png' %}" style="width: 20px">
            </button>
          </form> -->
        <!-- 댓글 삭제 버튼 -->
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" class="d-inline mt-1">
            {% csrf_token %}
            <button class="btn btn-none border-0 p-0" type="submit">
             <img src="{% static 'images/bin.png' %}" style="width: 24px">
            </button>
          </form>
        {% else %}
        {% endif %}
        </div>
      </div>
        {% empty %}
        <p>댓글이 아직 없어요.</p>
      {% endfor %}
    </div>
    <div class='d-flex justify-content-end'>
      {% if request.user == article.user %}
      <form action="{% url 'articles:delete' article.pk %}" method="POST" class="form">
        {% csrf_token %}
        <div class="d-block d-lg-none">
          <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary form-control mb-3">수정</a>
          <input class="btn btn-outline-danger form-control mb-3" type="submit" value="삭제">
          <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
        </div>
        <div class="d-none d-lg-block">
          <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary">수정</a>
          <input class="btn btn-outline-danger" type="submit" value="삭제">
          <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
        </div>
      </form>
      {% else %}
      <div class="d-block d-lg-none">
        <!-- <button class="btn btn-outline-primary form-control mb-3 disabled">수정</button>
        <button class="btn btn-outline-danger form-control mb-3 disabled">삭제</button> -->
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
      </div>
      <div class="d-none d-lg-block">
        <!-- <button class="btn btn-outline-primary disabled">수정</button>
        <button class="btn btn-outline-danger disabled">삭제</button> -->
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}