{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <!-- 본문 & 댓글 -->
    <div class="p-3 mb-4" style="border-radius: 0.5rem; box-shadow: 0px 0 10px 1px rgb(169 169 169 / 50%);">
      <!-- carousel 사진 영역 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {% for photo in article.photo_set.all %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|sub:1|mod:photo_cnt }}" class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter|mod:photo_cnt }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for photo in article.photo_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
              <img src="{{ photo.image.url }}" class="d-block w-100" alt="{{ photo.image }}">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- 제목 본문 태그 -->
      <div>
        <h1 class="mt-3">{{ article.title }}
          </h1>
          <svg width="26" height="26" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.31055C6.81525 2.31194 5.67942 2.78321 4.84166 3.62096C4.00391 4.45871 3.53265 5.59454 3.53125 6.7793C3.52984 7.74748 3.84609 8.6894 4.4315 9.46055C4.4315 9.46055 4.55338 9.62102 4.57329 9.64417L8 13.6855L11.4283 9.64214C11.4462 9.62061 11.5685 9.46055 11.5685 9.46055L11.5689 9.45933C12.154 8.68851 12.4701 7.74704 12.4688 6.7793C12.4674 5.59454 11.9961 4.45871 11.1583 3.62096C10.3206 2.78321 9.18476 2.31194 8 2.31055ZM9.4625 8.81055L8 7.87983L6.5375 8.81055L6.78125 7.15548L5.5625 6.03708L7.26875 5.83111L8 4.3418L8.77675 5.83152L10.4375 6.03708L9.21875 7.15548L9.4625 8.81055Z" fill="#0060FF"></path></svg>
          <span class="text-b3 text-primary">{{article.location}}</span>
          

        <div class="d-flex justify-content-between">
          <span style="font-size: 25px;"><a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></span>
          <p style="font-size: 13px;">작성 {{ article.created_at|date:'Y-m-d H:i' }} | 수정 {{ article.updated_at|date:'Y-m-d H:i' }}</p>
        </div>
        <p class="mt-3">{{ article.content }} </p>
        <div>
          {% for tag in article.tags.all %}
            <a href="/search/?search_option=hashtag&amp;search={{ tag.name }}"><span>#{{ tag.name }}</span></a>
          {% endfor %}
        </div>

        <!-- 좋아요 댓글 북마크 아이콘 -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center" style="font-size: 20px;">
            <div>
              {% if request.user.is_authenticated %}
                <a href="">
                  {% if request.user in article.like_users.all %}
                    <i id="btn-article-like" data-article-id="{{ article.pk }}" class="bi bi-heart-fill text-danger"></i>
                  {% else %}
                    <i id="btn-article-like" data-article-id="{{ article.pk }}" class="bi bi-heart text-dark"></i>
                  {% endif %}
                </a>
              {% else %}
                <a href="{% url 'accounts:login' %}"><i class="bi bi-heart"></i></a>
              {% endif %}
              <span id="article-like-count">{{ article.like_users.count }}</span>
            </div>

            <div class="ms-3">
              <i class="bi bi-chat"> </i>
              <span id="comment-count">{{ article.comment_set.all.count }}</span>
            </div>
          </div>

          <div style="font-size: 20px;">
            <span style="font-size: 20px;">
              {% if request.user.is_authenticated %}
                <a href="">
                  {% if request.user in article.bookmark_users.all %}
                    <i id="btn-bookmark" data-article-id="{{ article.pk }}" class="bi bi-bookmark-fill"></i>
                  {% else %}
                    <i id="btn-bookmark" data-article-id="{{ article.pk }}" class="bi bi-bookmark"></i>
                  {% endif %}
                </a>
              {% else %}
                <a href="{% url 'accounts:login' %}"><i class="bi bi-bookmark"></i></a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <hr>

      <!-- 댓글 입력 창 -->
      <div>
        <h5 class="my-3">댓글 <span id="comment-count">{{ article.comment_set.all.count }}</span></h5>
        {% if request.user.is_authenticated %}
          <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
            {% csrf_token %}
            <div class="d-flex">
              {{ comment_form.content|add_class:'form-control' }}
              <input class="btn btn-sm btn-outline-primary ms-2" type="submit" value="등록">
            </div>
          </form>
        {% else %}
          <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
        {% endif %}
      </div>

      <!-- 댓글 목록 -->
      {% for comment in comments %}
        <div class="mt-3 d-flex justify-content-between">
          <div>
            <p style="font-size: 0.8rem; margin-bottom: 0rem;">
              <a href="{% url 'accounts:detail' article.user.pk %}">{{ comment.user.username }}</a> | {{ comment.created_at|date:'Y-m-d H:i' }}
            </p>
            <p style="margin-bottom: 0rem;">{{ comment.content }}</p>
            <div class="d-flex mb-0" style="font-size: 0.7rem;">
              <a href="#replyBox{{ comment.pk }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                답글 달기
              </a>
              <p class="mx-3 mb-0">좋아요 <span id="comment-{{ comment.pk }}-like-count">{{ comment.like_users.count }}</span>개</p>
            </div>

            <!-- 답글 창 펼치기 -->
            <div class="collapse" id="replyBox{{ comment.pk }}">
              <div class="card card-body">
                {% if request.user.is_authenticated %}
                  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="parent_comment_id" value="{{ comment.pk }}">
                    
                    <div class="d-flex">
                      {{ comment_form.content|add_class:'form-control' }}
                      <input class="btn btn-sm btn-outline-primary" type="submit" value="등록">
                    </div>
                  </form>
                {% else %}
                  <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
                {% endif %}
              </div>
            </div>

            <!-- 답글 목록 -->
            <div class="text-bg-dark">
              {% for reply in replies %}
                {% if reply.parent_comment == comment %}
                  <p style="font-size: 0.8rem; margin-bottom: 0rem;">
                    <a href="{% url 'accounts:detail' article.user.pk %}">{{ reply.user.username }}</a> | {{ reply.created_at|date:'Y-m-d H:i' }}
                  </p>

                  <div class="d-flex justify-content-end mt-2">
                    {% if request.user.is_authenticated %}
                      <a class="like-heart mt-2 mx-2" href="">
                        {% if request.user in reply.like_users.all %}
                          <i data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                        {% else %}
                          <i data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="bi bi-heart btn-comment-like"></i>
                        {% endif %}
                      </a>
                    {% else %}
                      <a href="{% url 'accounts:login' %}" class="mx-2">
                        <i class="bi bi-heart"></i>
                      </a>
                    {% endif %}
                    {% if user == reply.user %}
                      <form action="{% url 'articles:comment_delete' article.pk reply.pk %}" method="POST" class="d-inline mt-1">
                        {% csrf_token %}
                        <button class="btn btn-none border-0 p-0" type="submit">
                        <img src="{% static 'images/bin.png' %}" style="width: 24px">
                        </button>
                      </form>
                    {% else %}
                    {% endif %}
                  </div>

                  <p style="margin-bottom: 0rem;">{{ reply.content }}</p>
                  <div class="d-flex mb-0" style="font-size: 0.7rem;">
                    <p class="mx-3 mb-0">좋아요 <span id="comment-{{ reply.pk }}-like-count">{{ reply.like_users.count }}</span>개</p>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="d-flex justify-content-end mt-2">
            {% if request.user.is_authenticated %}
              <a class="like-heart mt-2 mx-2" href="">
                {% if request.user in comment.like_users.all %}
                  <i data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                {% else %}
                  <i data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart btn-comment-like"></i>
                {% endif %}
              </a>
            {% else %}
              <a href="{% url 'accounts:login' %}" class="mx-2">
                <i class="bi bi-heart"></i>
              </a>
            {% endif %}
            {% if user == comment.user %}
          <!-- 댓글 수정 버튼 -->
   
              <a class="btn btn-none border-0 p-0 me-2" href="{% url 'articles:comment_update' article.pk comment.pk %}">
                <img src="{% static 'image/edit.png' %}" style="width: 20px"></a>
              </button>
            </form> 
            <!-- 댓글 삭제 버튼 -->
              <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" class="d-inline mt-1">
                {% csrf_token %}
                <button class="btn btn-none border-0 p-0" type="submit">
                <img src="{% static 'images/bin.png' %}" style="width: 24px">
                </button>
              </form>
            {% else %}
            {% endif %}
          </div>
        </div>
        {% empty %}
        <p class="my-3">댓글이 아직 없어요.</p>
      {% endfor %}
    </div>

    <!-- 글 수정 & 삭제 & 뒤로가기 -->
    <div class='d-flex justify-content-end'>
      {% if request.user == article.user %}
        <form action="{% url 'articles:delete' article.pk %}" method="POST" class="form">
          {% csrf_token %}
          <div class="d-flex d-lg-none">
            <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary form-control mb-3 me-2">수정</a>
            <input class="btn btn-outline-danger form-control mb-3 me-2" type="submit" value="삭제">
            <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
          </div>
        </form>
      {% else %}
        <div class="d-block d-lg-none">
          <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
  <script>
    // 게시글 좋아요
    const btnArticleLike = document.querySelector('#btn-article-like')
    btnArticleLike.addEventListener('click', event => {
      const articleId = event.target.dataset.articleId

      axios({
        method: 'get',
        url: `/${articleId}/like/`
      })
      .then(response => {
        if (response.data.isLiked === true) {
          event.target.classList.add('bi-heart-fill')
          event.target.classList.remove('bi-heart')
        } else {
          event.target.classList.add('bi-heart')
          event.target.classList.remove('bi-heart-fill')
        }
        const articleLikeCount = document.querySelector('#article-like-count')
        articleLikeCount.innerText = response.data.likeCount
      })
    })

    // 게시글 북마크
    const btnBookmark = document.querySelector('#btn-bookmark')
    btnBookmark.addEventListener('click', event => {
      const articleId = event.target.dataset.articleId

      axios({
        method: 'get',
        url: `/${articleId}/bookmark/`
      })
      .then(response => {
        if (response.data.isBookmarked === true) {
          event.target.classList.add('bi-bookmark-fill')
          event.target.classList.remove('bi-bookmark')
        } else {
          event.target.classList.add('bi-bookmark')
          event.target.classList.remove('bi-bookmark-fill')
        }
      })
    })

    // 댓글 좋아요
    const btnCommentLike = document.querySelectorAll('.btn-comment-like') // 모든 댓글의 좋아요 버튼들
    btnCommentLike.forEach(btn => {
      // 각 댓글의 좋아요 버튼에 클릭 이벤트 리스너 등록
      btn.addEventListener('click', event => {
        const articleId = event.target.dataset.articleId
        const commentId = event.target.dataset.commentId

        axios({
          method: 'get',
          url: `/${articleId}/comments/${commentId}/like/`
        })
        .then(response => {
          if (response.data.isLiked === true) {
            event.target.classList.add('bi-heart-fill')
            event.target.classList.remove('bi-heart')
          } else {
            event.target.classList.add('bi-heart')
            event.target.classList.remove('bi-heart-fill')
          }
          const commentLikeCount = document.querySelector(`#comment-${commentId}-like-count`)
          commentLikeCount.innerText = response.data.likeCount
        })
      })
    })
  </script>
{% endblock script %}