{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <!-- 본문 & 댓글 -->
    <div class="p-3 mb-4" style="border-radius: 0.5rem; box-shadow: 0px 0 10px 1px rgb(169 169 169 / 50%); background-color: white;">
      <!-- carousel 사진 영역 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {% for photo in article.photo_set.all %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|sub:1|mod:photo_cnt }}" class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter|mod:photo_cnt }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for photo in article.photo_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style="height: 340px">
              <img src="{{ photo.image.url }}" class="d-block h-100 mx-auto" alt="{{ photo.image }}">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- 제목 본문 태그 -->
      <div>
        <h1 class="mt-3">{{ article.title }}</h1>
        <div class="d-flex justify-content-between">
          <span style="font-size: 25px;"><a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.nickname }}</a></span>
          <p style="font-size: 13px;">작성 {{ article.created_at|date:'Y-m-d H:i' }} | 수정 {{ article.updated_at|date:'Y-m-d H:i' }}</p>
        </div>
        <p class="mt-3">{{ article.content }} </p>
        <div>
          {% for tag in article.tags.all %}
            <a href="/search/?search_option=hashtag&amp;search={{ tag.name }}"><span>#{{ tag.name }}</span></a>
          {% endfor %}
        </div>

        <!-- 좋아요 댓글 북마크 아이콘 -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center" style="font-size: 20px;">
            <div>
              {% if request.user.is_authenticated %}
                {% if request.user in article.like_users.all %}
                  <i id="btn-article-like" data-article-id="{{ article.pk }}" class="bi bi-heart-fill text-danger"></i>
                {% else %}
                  <i id="btn-article-like" data-article-id="{{ article.pk }}" class="bi bi-heart text-dark"></i>
                {% endif %}
              {% else %}
                <a href="{% url 'accounts:login' %}"><i class="bi bi-heart"></i></a>
              {% endif %}
              <span id="article-like-count">{{ article.like_users.count }}</span>
            </div>

            <div class="ms-3">
              <i class="bi bi-chat"> </i>
              <span class="comment-count">{{ article.comment_set.all.count }}</span>
            </div>
          </div>

          <div style="font-size: 20px;">
            <span style="font-size: 20px;">
              {% if request.user.is_authenticated %}
                {% if request.user in article.bookmark_users.all %}
                  <i id="btn-bookmark" data-article-id="{{ article.pk }}" class="bi bi-bookmark-fill"></i>
                {% else %}
                  <i id="btn-bookmark" data-article-id="{{ article.pk }}" class="bi bi-bookmark"></i>
                {% endif %}
              {% else %}
                <a href="{% url 'accounts:login' %}"><i class="bi bi-bookmark"></i></a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <hr>

      <!-- 댓글 입력 창 -->
      <div>
        <h5 class="my-3">댓글 <span class="comment-count">{{ article.comment_set.all.count }}</span></h5>
        {% if request.user.is_authenticated %}
          <form id="comment-form" data-article-id="{{ article.pk }}">
            {% csrf_token %}
            <div class="d-flex">
              {{ comment_form.content|add_class:'form-control' }}
              <input class="btn btn-sm btn-outline-primary ms-2" type="submit" value="등록">
            </div>
          </form>
        {% else %}
          <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
        {% endif %}
      </div>

      <!-- 댓글 목록 -->
      <div id="comments-box">
        {% for comment in comments %}
          <div class="mt-3" id="comment-{{ comment.pk }}">
            <div class="d-flex justify-content-between align-items-center">
              <div class="w-100">
                <p style="font-size: 0.8rem; margin-bottom: 0rem;">
                  <a href="{% url 'accounts:detail' article.user.pk %}">{{ comment.user.nickname }}</a> | {{ comment.created_at|date:'Y-m-d H:i' }}
                </p>
                <p style="margin-bottom: 0rem;">{{ comment.content }}</p>
              </div>

              <!-- 좋아요 (나중에 폼으로 만들기) -->
              {% if request.user.is_authenticated %}
                <div class="like-heart mt-2 mx-2">
                  {% if request.user in comment.like_users.all %}
                    <i id="btn-comment-like" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                  {% else %}
                    <i id="btn-comment-like" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart btn-comment-like"></i>
                  {% endif %}
                </div>
              {% else %}
                <a href="{% url 'accounts:login' %}" class="mx-2">
                  <i class="bi bi-heart"></i>
                </a>
              {% endif %}
              
              {% if user == comment.user %}
                <form data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="comment-delete-forms d-inline mt-1">
                  {% csrf_token %}
                  <button class="btn btn-none border-0 p-0" type="submit">
                  <img src="{% static 'images/bin.png' %}" style="width: 24px">
                  </button>
                </form>
              {% endif %}
            </div>

            <div class="d-flex mb-0" style="font-size: 0.7rem;">
              <a href="#replyBox{{ comment.pk }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                답글 달기
              </a>
              <p class="mx-3 mb-0">좋아요 <span id="comment-{{ comment.pk }}-like-count">{{ comment.like_users.count }}</span>개</p>
            </div>
          </div>

          <!-- 답글 창 펼치기 -->
          <div class="collapse" id="replyBox{{ comment.pk }}">
            <div class="mt-2">
              {% if request.user.is_authenticated %}
                <!-- <form action="{% url 'articles:comment_create' article.pk %}" method="POST"> -->
                <form class="reply-forms" data-article-id="{{ article.pk }}">
                  {% csrf_token %}
                  <input type="hidden" name="parent_comment_id" value="{{ comment.pk }}">
                  
                  <div class="d-flex">
                    {{ comment_form.content|add_class:'form-control' }}
                    <input class="btn btn-sm btn-outline-primary ms-2" type="submit" value="등록">
                  </div>
                </form>
              {% else %}
                <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
              {% endif %}
            </div>
          </div>

          <!-- 답글 목록 -->
          <div id="replies-box-{{ comment.pk }}">
            {% for reply in replies %}
              <div class="my-2" id="comment-{{ reply.pk }}">
                {% if reply.parent_comment == comment %}
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="pt-1 px-2">
                      <i class="bi bi-arrow-return-right"></i>
                    </div>
                    <div class="w-100">
                      <p style="font-size: 0.8rem; margin-bottom: 0rem;">
                        <a href="{% url 'accounts:detail' article.user.pk %}">{{ reply.user.nickname }}</a> | {{ reply.created_at|date:'Y-m-d H:i' }}
                      </p>
                      <p style="margin-bottom: 0rem;">{{ reply.content }}</p>
                      <div class="d-flex mb-0" style="font-size: 0.7rem;">
                        <p class="mb-0">좋아요 <span id="comment-{{ reply.pk }}-like-count">{{ reply.like_users.count }}</span>개</p>
                      </div>
                    </div>

                    {% if request.user.is_authenticated %}
                      <div class="like-heart mt-2 mx-2">
                        {% if request.user in reply.like_users.all %}
                          <i id="btn-comment-like" data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                        {% else %}
                          <i id="btn-comment-like" data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="bi bi-heart btn-comment-like"></i>
                        {% endif %}
                      </div>
                    {% else %}
                      <a href="{% url 'accounts:login' %}" class="mx-2">
                        <i class="bi bi-heart"></i>
                      </a>
                    {% endif %}
                    
                    {% if user == reply.user %}
                      <form data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="comment-delete-forms d-inline mt-1">
                        {% csrf_token %}
                        <button class="btn btn-none border-0 p-0" type="submit">
                        <img src="{% static 'images/bin.png' %}" style="width: 24px">
                        </button>
                      </form>
                    {% endif %}
                  </div>

                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- 글 수정 & 삭제 & 뒤로가기 -->
    <div class='d-flex justify-content-end'>
      {% if request.user == article.user %}
      <form action="{% url 'articles:delete' article.pk %}" method="POST" class="form">
        {% csrf_token %}
        <div class="d-block d-lg-none">
          <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary form-control mb-3">수정</a>
          <input class="btn btn-outline-danger form-control mb-3" type="submit" value="삭제">
          <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
        </div>
        <div class="d-none d-lg-block">
          <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary">수정</a>
          <input class="btn btn-outline-danger" type="submit" value="삭제">
          <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
        </div>
      </form>
      {% else %}
      <div class="d-block d-lg-none">
        <!-- <button class="btn btn-outline-primary form-control mb-3 disabled">수정</button>
        <button class="btn btn-outline-danger form-control mb-3 disabled">삭제</button> -->
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
      </div>
      <div class="d-none d-lg-block">
        <!-- <button class="btn btn-outline-primary disabled">수정</button>
        <button class="btn btn-outline-danger disabled">삭제</button> -->
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
  <script>
    // 게시글 좋아요
    const btnArticleLike = document.querySelector('#btn-article-like')
    btnArticleLike.addEventListener('click', event => {
      const articleId = event.target.dataset.articleId

      axios({
        method: 'get',
        url: `/${articleId}/like/`
      })
      .then(response => {
        if (response.data.isLiked === true) {
          event.target.classList.add('bi-heart-fill', 'text-danger')
          event.target.classList.remove('bi-heart', 'text-dark')
        } else {
          event.target.classList.add('bi-heart', 'text-dark')
          event.target.classList.remove('bi-heart-fill', 'text-danger')
        }
        const articleLikeCount = document.querySelector('#article-like-count')
        articleLikeCount.innerText = response.data.likeCount
      })
    })

    // 게시글 북마크
    const btnBookmark = document.querySelector('#btn-bookmark')
    btnBookmark.addEventListener('click', event => {
      const articleId = event.target.dataset.articleId

      axios({
        method: 'get',
        url: `/${articleId}/bookmark/`
      })
      .then(response => {
        if (response.data.isBookmarked === true) {
          event.target.classList.add('bi-bookmark-fill')
          event.target.classList.remove('bi-bookmark')
        } else {
          event.target.classList.add('bi-bookmark')
          event.target.classList.remove('bi-bookmark-fill')
        }
      })
    })

    // 댓글 좋아요
    const btnCommentLike = document.querySelectorAll('.btn-comment-like') // 모든 댓글의 좋아요 버튼들
    btnCommentLike.forEach(btn => {
      // 각 댓글의 좋아요 버튼에 클릭 이벤트 리스너 등록
      btn.addEventListener('click', event => {
        const articleId = event.target.dataset.articleId
        const commentId = event.target.dataset.commentId

        axios({
          method: 'get',
          url: `/${articleId}/comments/${commentId}/like/`
        })
        .then(response => {
          if (response.data.isLiked === true) {
            event.target.classList.add('bi-heart-fill')
            event.target.classList.remove('bi-heart')
          } else {
            event.target.classList.add('bi-heart')
            event.target.classList.remove('bi-heart-fill')
          }
          const commentLikeCount = document.querySelector(`#comment-${commentId}-like-count`)
          commentLikeCount.innerText = response.data.likeCount
        })
      })
    })

    // 댓글 생성
    const commentForm = document.querySelector('#comment-form')
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
    if (commentForm) {
      commentForm.addEventListener('submit', event => {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        const commentId = event.target.dataset.commentId

        axios({
          method: 'POST',
          url: `/${articleId}/comments/`,
          headers: {'X-CSRFToken': csrfToken},
          data: new FormData(commentForm)
        })
        .then(response => {
          const commentCount = document.querySelectorAll('.comment-count')
          const commentsBox = document.querySelector('#comments-box')

          commentCount.forEach(cnt => {
            cnt.innerText = response.data.commentCount
          })

          console.log(response.data.comment_pk)

          const created_at = new moment(response.data.created_at)
          const newDateFormat = created_at.format("YYYY-MM-DD HH:mm")

          commentsBox.insertAdjacentHTML('beforeend', 
            `<div class="mt-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="w-100">
                  <p style="font-size: 0.8rem; margin-bottom: 0rem;">
                    <a href="/accounts/${response.data.user_pk}/">${response.data.nickname}</a> | ${newDateFormat}
                  </p>
                  <p style="margin-bottom: 0rem;">${response.data.content}</p>
                </div>
  
                <a class="like-heart mt-2 mx-2" href="">
                  {% if request.user in comment.like_users.all %}
                    <i data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                  {% else %}
                    <i data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart btn-comment-like"></i>
                  {% endif %}
                </a>
                
                <form data-article-id="${articleId}" data-comment-id="${commentId}" class="comment-delete-forms d-inline mt-1">
                  {% csrf_token %}
                  <button class="btn btn-none border-0 p-0" type="submit">
                  <img src="{% static 'images/bin.png' %}" style="width: 24px">
                  </button>
                </form>
              </div>
  
              <div class="d-flex mb-0" style="font-size: 0.7rem;">
                <a href="#replyBox${response.data.comment_pk}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                  답글 달기
                </a>
                <p class="mx-3 mb-0">좋아요 <span id="comment-${response.data.comment_pk}-like-count">${response.data.commentLikeCount}</span>개</p>
              </div>
            </div>
  
            <!-- 답글 창 펼치기 -->
            <div class="collapse" id="replyBox${response.data.comment_pk}">
              <div class="mt-2">
                <form id="reply-forms" data-article-id="${articleId}">
                  {% csrf_token %}
                  <input type="hidden" name="parent_comment_id" value="${response.data.comment_pk}">
                  
                  <div class="d-flex">
                    {{ comment_form.content|add_class:'form-control' }}
                    <input class="btn btn-sm btn-outline-primary ms-2" type="submit" value="등록">
                  </div>
                </form>
              </div>
            </div>
  
            <!-- 답글 목록 -->
            <div id="replies-box-${commentId}">
              {% for reply in replies %}
                <div class="my-2" id="comment-${response.data.comment_pk}">
                  {% if reply.parent_comment == comment %}
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="pt-1 px-2">
                        <i class="bi bi-arrow-return-right"></i>
                      </div>
                      <div class="w-100">
                        <p style="font-size: 0.8rem; margin-bottom: 0rem;">
                          <a href="/accounts/${response.data.user_pk}/">${response.data.nickname}</a> | ${newDateFormat}
                        </p>
                        <p style="margin-bottom: 0rem;">${response.data.content}</p>
                        <div class="d-flex mb-0" style="font-size: 0.7rem;">
                          <p class="mb-0">좋아요 <span id="comment-${response.data.comment_pk}-like-count">${response.data.commentLikeCount}</span>개</p>
                        </div>
                      </div>
    
                      <a class="like-heart mt-2 mx-2" href="">
                        {% if request.user in reply.like_users.all %}
                          <i data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                        {% else %}
                          <i data-article-id="{{ article.pk }}" data-comment-id="{{ reply.pk }}" class="bi bi-heart btn-comment-like"></i>
                        {% endif %}
                      </a>
                      
                      <form data-article-id="${articleId}" data-comment-id="${response.data.comment_pk}" class="comment-delete-forms d-inline mt-1">
                        {% csrf_token %}
                        <button class="btn btn-none border-0 p-0" type="submit">
                        <img src="{% static 'images/bin.png' %}" style="width: 24px">
                        </button>
                      </form>
                    </div>

                  {% endif %}
                </div>
              {% endfor %}
            </div>`
          )

          commentForm.reset()
        })
      })
    }

    // 답글 생성
    const replyForms = document.querySelectorAll('.reply-forms')
    replyForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        const commentId = event.target.dataset.commentId

        axios({
          method: 'POST',
          url: `/${articleId}/comments/`,
          headers: {'X-CSRFToken': csrfToken},
          data: new FormData(form)
        })
        .then(response => {
          const commentCount = document.querySelectorAll('.comment-count')
          const repliesBox = document.querySelector(`#replies-box-${response.data.parent_comment_pk}`)

          commentCount.forEach(cnt => {
            cnt.innerText = response.data.commentCount
          })

          const created_at = new moment(response.data.created_at)
          const newDateFormat = created_at.format("YYYY-MM-DD HH:mm")

          repliesBox.insertAdjacentHTML('beforeend', 
            `<div class="my-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="pt-1 px-2">
                  <i class="bi bi-arrow-return-right"></i>
                </div>
                <div class="w-100">
                  <p style="font-size: 0.8rem; margin-bottom: 0rem;">
                    <a href="/accounts/${response.data.user_pk}/">${response.data.nickname}</a> | ${newDateFormat}
                  </p>
                  <p style="margin-bottom: 0rem;">${response.data.content}</p>
                  <div class="d-flex mb-0" style="font-size: 0.7rem;">
                    <p class="mb-0">좋아요 <span id="comment-${commentId}-like-count">${response.data.commentLikeCount}</span>개</p>
                  </div>
                </div>
  
                <a class="like-heart mt-2 mx-2" href="">
                  {% if request.user in comment.like_users.all %}
                    <i data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart-fill btn-comment-like"></i>
                  {% else %}
                    <i data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}" class="bi bi-heart btn-comment-like"></i>
                  {% endif %}
                </a>
                
                <form data-article-id="${articleId}" data-comment-id="${commentId}" class="comment-delete-forms d-inline mt-1">
                  {% csrf_token %}
                  <button class="btn btn-none border-0 p-0" type="submit">
                  <img src="{% static 'images/bin.png' %}" style="width: 24px">
                  </button>
                </form>
              </div>
  
            </div>
            `
          )

          form.reset()
        })
      })
    })

    // 댓글 삭제
    const commentDeleteForms = document.querySelectorAll('.comment-delete-forms')
    commentDeleteForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        const commentId = event.target.dataset.commentId

        axios({
          method: 'post',
          url: `/${articleId}/comments/${commentId}/delete/`,
          headers: {'X-CSRFToken': csrfToken},
        })
        .then(response => {
          const comment = document.querySelector(`#comment-${commentId}`)
          const is_deleted = response.data.is_deleted
          const is_parent = response.data.is_parent
          const commentCount = document.querySelectorAll('.comment-count')

          commentCount.forEach(cnt => {
            cnt.innerText = response.data.commentCount
          })

          if (is_deleted === true) {
            comment.remove()

            if (is_parent === true) {
              const repliesBox = document.querySelector(`#replies-box-${response.data.parent_comment_pk}`)
              console.log(repliesBox)
              repliesBox.remove()
            }
          }
        })
      })
    })
  </script>
{% endblock script %}