{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock css%}

{% block content %}
  <div class="row">
    {% for article in articles %}
    <div class="col-md-4 col-sm-6 p-3">
        <a href="{% url 'articles:detail' article.pk %}">
          <div class="card">
            {% if article.image %}
              <img src="{{ article.photo_set.all.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <p class="text-muted">
                <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a>
              </p>
              <a href="{% url 'articles:detail' article.pk %}"><h5 class="card-title">{{ article.title }}</h5></a>
              <span>좋아요 {{ article.like_users.count }}</span>
              <span>댓글 {{ article.comment_set.all.count }}</span>
              <span>조회수</span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    <div class="d-flex justify-content-end">
      {% if request.user.is_authenticated %}
      <a class="btn btn-outline-primary my-3 float-right" href="{% url 'articles:create' %}">글쓰기</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}