{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block content %}
  <div class="p-4">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="mb-5">🎲여행지 룰렛 돌리기🎲</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="d-flex justify-content-center flex-wrap rou">
          <canvas class="d-flex justify-content-center" width="500" height='500'></canvas>  
          <button onclick="rotate()" class="btn10">룰렛 돌리기</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const $c = document.querySelector("canvas");
    const ctx = $c.getContext(`2d`);
    
    const product = [
      "체코", '일본', "멕시코", "미국", "두바이", "런던", '파리', "부산", "방콕",
    ];
    const colors = ["#B8F3B8", "#CCD1FF", "#FFDDA6", "#FFCCCC", "#A8C8F9", "#9197B5", "#E0DDA3", "#E7B6CE", "#79D2BE", "#88D4D7"];
    
    const newMake = () => {
        const [cw, ch] = [$c.width / 2, $c.height / 2];
        const arc = Math.PI / (product.length / 2);
  
        for (let i = 0; i < product.length; i++) {
          ctx.beginPath();
          ctx.fillStyle = colors[i % (colors.length -1)];
          ctx.moveTo(cw, ch);
          ctx.arc(cw, ch, cw, arc * (i - 1), arc * i);
          ctx.fill();
          ctx.closePath();
        }
    
        ctx.fillStyle = "#fff";
        ctx.font = "18px Pretendard";
        ctx.textAlign = "center";
    
        for (let i = 0; i < product.length; i++) {
          const angle = (arc * i) + (arc / 2);
          ctx.save()  ;
          ctx.translate(
            cw + Math.cos(angle) * (cw - 50),
            ch + Math.sin(angle) * (ch - 50),
          );
          ctx.rotate(angle + Math.PI / 2);
          product[i].split(" ").forEach((text, j) => {
            ctx.fillText(text, 0, 30 * j);
          });    
          ctx.restore();
        }
    }

    const rotate = () => {
      $c.style.transform = `initial`;
      $c.style.transition = `initial`;

      setTimeout(() => {

        const ran = Math.floor(Math.random() * product.length);
        const arc = 360 / product.length;
        const rotate = (ran * arc) + 3600 + (arc * 3) - (arc/4);

        $c.style.transform = `rotate(-${rotate}deg)`;
        $c.style.transition = `2s`;

        setTimeout(() => alert(`오늘의 추천 여행지는 ${product[ran]}입니다!🛫`), 2000);
      }, 1);
    };

    newMake();
  </script>
{% endblock content %}
    