{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="mt-5">🌍🚂🛫🛬🧳🚀</h1>
  </div>

  <form role="search" action="{% url 'articles:search' %}" class="p-5">
    <div class="d-flex justify-content-center">
      <select class="form-select w-auto" name="search_option">
        <option value="title">제목</option>
        <option value="title_content">제목+내용</option>
        <option value="hashtag">해시태그</option>
        <option value="user">작성자</option>
      </select>
      
      <input class="form-control w-50 mx-2" type="search" placeholder="Search" name="search">
      <input class="btn btn-success" type="submit" value="검색">
    </div>
  </form>

  <div class="row pb-5">
    {% for article in search_articles %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 p-3">
        <a href="{% url 'articles:detail' article.pk %}">
          <div class="card glow">
            <!-- 첫 번째 이미지를 썸네일로 -->
            {% if article.photo_set.all.0.image %}
              <img src="{{ article.photo_set.all.0.image.url }}" class="card-img-top" alt="..." height="300px">
            {% else %}
              <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" height="300px">
            {% endif %}

            <div class="card-body d-flex flex-column justify-content-between" style="height: 12rem">
              <!-- 유저 -->
              <div class="mb-2">
                <a href="{% url 'accounts:detail' article.user.pk %}" class="text-dark">
                  {% if article.user.profile.image %}
                    <img src="{{ article.user.profile.image.url }}" alt="{{ article.user.profile.image }}" class="rounded-2 border border-1" width="40px">
                  {% else %}
                    <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="40px">
                  {% endif %}
                  <span class="ms-2">{{ article.user.nickname }}</span>
                </a>
              </div>

              <h5 class="card-title card-title-text mb-2">{{ article.title }}</h5>
              <div class="d-flex align-items-center mb-2">
                <!-- <svg width="26" height="26" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.31055C6.81525 2.31194 5.67942 2.78321 4.84166 3.62096C4.00391 4.45871 3.53265 5.59454 3.53125 6.7793C3.52984 7.74748 3.84609 8.6894 4.4315 9.46055C4.4315 9.46055 4.55338 9.62102 4.57329 9.64417L8 13.6855L11.4283 9.64214C11.4462 9.62061 11.5685 9.46055 11.5685 9.46055L11.5689 9.45933C12.154 8.68851 12.4701 7.74704 12.4688 6.7793C12.4674 5.59454 11.9961 4.45871 11.1583 3.62096C10.3206 2.78321 9.18476 2.31194 8 2.31055ZM9.4625 8.81055L8 7.87983L6.5375 8.81055L6.78125 7.15548L5.5625 6.03708L7.26875 5.83111L8 4.3418L8.77675 5.83152L10.4375 6.03708L9.21875 7.15548L9.4625 8.81055Z" fill="#0060FF"></path></svg>-->
                <i class="bi bi-geo-alt-fill fs-6 text-primary"></i>
                <span class="fs-6 text-primary ms-1 location">{{article.location}}</span>
              </div>

              <div class="hashtags col-lg-8 col-md-10 mb-2">
                {% for tag in article.tags.all %}
                  <a href="/search/?search_option=hashtag&amp;search={{ tag.name }}" class="text-decoration-none fs-6">#{{ tag.name }}</a>
                {% endfor %}
              </div>

              <!-- 좋아요, 댓글, 조회수, 북마크 -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="text-muted fs-6">
                  {% if request.user.is_authenticated %}
                    <form class="like-forms d-inline" data-article-id="{{ article.pk }}">
                      {% csrf_token %}
                      {% if request.user in article.like_users.all %}
                        <button type="submit" id="btn-like-{{ article.pk }}" class="btn-none bi bi-heart-fill text-danger"></button>
                      {% else %}
                        <button type="submit" id="btn-like-{{ article.pk }}" class="btn-none bi bi-heart"></button>
                      {% endif %}
                    </form>
                    <span id="like-{{ article.pk }}-count" class="text-muted me-3">{{ article.like_users.count }}</span>
                  {% endif %}

                  <span class="bi bi-chat-dots-fill me-3"> 
                    <span class="">{{ article.comment_set.all.count }}</span>
                  </span>
                  <span class="bi bi-eye-fill"> 
                    <span class="">{{ article.view_count }}</span>
                  </span>
                </div>

                <div>
                  {% if request.user.is_authenticated %}
                    <form class="bookmark-forms d-inline" data-article-id="{{ article.pk }}">
                      {% if request.user in article.bookmark_users.all %}
                        <button type="submit" id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark-fill"></button>
                      {% else %}
                        <button type="submit" id="btn-bookmark-{{ article.pk }}" data-article-id="{{ article.pk }}" class="btn-none bi bi-bookmark"></button>
                      {% endif %}
                    </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="position-fixed fixed-bottom text-end">
    {% if request.user.is_authenticated %}
      <a class="btn btn-primary m-5" href="{% url 'articles:create' %}">글쓰기</a>
    {% endif %}
  </div>
{% endblock content %}

{% block script %}
  <script>
    // 좋아요
    const likeForms = document.querySelectorAll('.like-forms')
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
    likeForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const articleId = event.target.dataset.articleId

        axios({
          method: 'post',
          url: `/${articleId}/like/`,
          headers: {'X-CSRFToken': csrfToken},
        })
        .then(response => {
          const isLiked = response.data.isLiked
          const likeBtn = document.querySelector(`#btn-like-${articleId}`)

          if (isLiked === true) {
            likeBtn.classList.add('bi-heart-fill', 'text-danger')
            likeBtn.classList.remove('bi-heart')
          } else {
            likeBtn.classList.add('bi-heart')
            likeBtn.classList.remove('bi-heart-fill', 'text-danger')
          }

          const likeCount = document.querySelector(`#like-${articleId}-count`)
          likeCount.innerText = response.data.likeCount
        })
        .catch(error => {
          console.log(error)
        })
      })
    })

    // 북마크
    const bookmarkForms = document.querySelectorAll('.bookmark-forms')
    bookmarkForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const articleId = event.target.dataset.articleId

        axios({
          method: 'post',
          url: `/${articleId}/bookmark/`,
          headers: {'X-CSRFToken': csrfToken},
        })
        .then(response => {
          const isBookmarked = response.data.isBookmarked
          const bookmarkBtn = document.querySelector(`#btn-bookmark-${articleId}`)

          if (isBookmarked === true) {
            bookmarkBtn.classList.add('bi-bookmark-fill')
            bookmarkBtn.classList.remove('bi-bookmark')
          } else {
            bookmarkBtn.classList.add('bi-bookmark')
            bookmarkBtn.classList.remove('bi-bookmark-fill')
          }
        })
        .catch(error => {
          console.log(error)
        })
      })
    })
  </script>
{% endblock script %}