{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    {% block title %}{% endblock title %}
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'articles:index' %}">
          <div class="d-flex align-items-center">
            <img src="{% static 'images/logo_test.png' %}" alt="logo" height="50px" width="50px">
            <span class="ms-2">여당</span>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  {% if request.resolver_match.url_name == 'index' %}
                    <a class="nav-link active" href="{% url 'articles:index' %}">홈</a>
                  {% else %}
                    <a class="nav-link" href="{% url 'articles:index' %}">홈</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">커뮤니티</a>
                </li>

                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    {% if request.resolver_match.url_name == 'signup' %}
                      <a class="nav-link active" href="{% url 'accounts:signup' %}">회원가입</a>
                    {% else %}
                      <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if request.resolver_match.url_name == 'login' %}
                      <a class="nav-link active" href="{% url 'accounts:login' %}">로그인</a>
                    {% else %}
                      <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                    {% endif %}
                  </li>
                {% endif %}
              </ul>
            </div>

            {% if request.user.is_authenticated %}
              <ul class="navbar-nav">
                <div class="d-flex align-items-center">
                  <li class="nav-item">
                    <a class="nav-link bi bi-bell" href="" style="width: 36px"></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:mypage' request.user.pk %}">
                      <div class="d-flex align-items-center">
                        <span class="me-2">{{ user.nickname }}</span>

                        {% if user.profile.image %}
                          <img src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}" class="rounded-2 border border-1" width="36px">
                        {% else %}
                          <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-2 border border-1" width="36px">
                        {% endif %}
                      </div>
                    </a>
                  </li>
                </div>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
   
    <!-- Content -->
    <div class="container my-5">
      {% block content %}{% endblock content %}
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Scripts -->
    {% block script %}{% endblock script %}
  </body>
</html>